body
{
	margin:0;
	padding:0;
	background-color:#8d8d8d;
}

#header
{
	font-family: 'Allerta Stencil', sans-serif;
	color:#75b3bd;
	background-color:#404040;
	font-size:50pt;
	border-bottom: 3px solid #75b3bd;
}

#form
{
	background-color:#404040;
	width:300px;
	height:280px;
	margin:auto;
	margin-top:100px;
	border: 3px solid #666666;
	box-shadow: 10px 10px 8px #595959;
	text-align:center;
	font-family: 'Didact Gothic', sans-serif;
	color:#999999;
	font-size:13pt;
}

#posthead
{
	padding-top:10px;
	text-align:center;
	color:#75b3bd;
	font-family: 'Allerta Stencil', sans-serif;
	margin-bottom:40px;
	border-bottom: 3px solid #75b3bd;
	padding-bottom:10px;
	font-size:11pt;
}

select
{
	background-color:#808080;
	border: 1px solid #666666;
	color:#262626;
	width:100px;
}

input
{
	background-color:#808080;
	border: 1px solid #666666;
	color:#262626;
	width:100px;
}

button
{
	background-color:#808080;
	border: 1px solid #666666;
	color:#262626;
	width:100px;
	font-weight:bold;
	height:30px;
	border-bottom: 3px solid #75b3bd;
	margin-bottom:10px;
	
	
}